{% extends "base.html" %}
{% block lab %}Редактирование профиля{% endblock %}

{% block main %}
<h1>Редактирование данных</h1>

<form method="post">
    <div>
        <label>Логин:</label>
        <input type="text" name="login" value="{{ user.login }}">
    </div>
    <div>
        <label>Имя:</label>
        <input type="text" name="name" value="{{ user.name }}">
    </div>
    <div>
        <label>Новый пароль:</label>
        <input type="password" name="password">
    </div>
    <div>
        <label>Подтверждение пароля:</label>
        <input type="password" name="confirm">
    </div>

    {% if error %}
        <p style="color:red;">⚠ {{ error }}</p>
    {% endif %}

    <button type="submit">Сохранить изменения</button>
    <a href="/lab4/users">Назад</a>
</form>
{% endblock %}
