{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
<h1>{% if edit %}Редактировать{% else %}Создать{% endif %} статью</h1>

<form action="" method="post">
    <div>
        <label>Тема: <input type="text" name="title" value="{{ article['title'] if edit else '' }}"></label>
    </div>
    <div>
        <label>Текст статьи: <textarea name="article_text">{{ article['article_text'] if edit else '' }}</textarea></label>
    </div>
    <button type="submit">{% if edit %}Сохранить{% else %}Создать{% endif %}</button>
</form>

{% if error %}
    <p style="color:red;">⚠ {{ error }}</p>
{% endif %}

<a href="{{ url_for('lab5.list') }}">Назад к списку статей</a>
<a href="/lab5/">В меню</a>
{% endblock %}
