{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
<h1>База знаний</h1>
<div class="menu-bar">
    {% if login %}
        <a href="{{ url_for('lab5.list') }}">Список статей</a>
        <a href="{{ url_for('lab5.create') }}">Создать статью</a>
        <a href="{{ url_for('lab5.users') }}">Список пользователей</a>
        <a href="{{ url_for('lab5.profile') }}">Редактировать данные</a>
        <form action="{{ url_for('lab5.logout') }}" method="get" style="display:inline;">
            <button type="submit">Выйти</button>
        </form>
        <span class="username">{{ login }}</span>
    {% else %}
        <a href="{{ url_for('lab5.login') }}">Войти</a>
        <a href="{{ url_for('lab5.register') }}">Регистрация</a>
        <a href="{{ url_for('lab5.list') }}">Список статей</a>
    {% endif %}
</div>

{% endblock %}
